body {
  font-family: Verdana;
  background-color: black;
  text-align: center;
}
h1{
  font-family: Verdana;
  color: white;
  font-weight: normal;
  font-size: 50px;
  text-align:center;
}
h2 {
  color: Aquamarine;
  font-size:16px;

}
}
h3 {
  color: white;
  font-size: 42px;
  font-weight: 300;

}
h4{
  color: gray;
  font-size: 21px;


}
#copyright {
  color: gray;
  font-size: 21px;
  text-align: right;
}
